@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

.ant-btn {
  background-color: black;
  border-color: white;
  color: white;
}

.ant-btn:hover {
  background-color: white;
  border-color: black;
  color: black;
}

ant-input {
    border-radius: 25px;
  }
